* {
   box-sizing: border-box;
}
body {
   background-color: #222; 
   color: #fff;
   user-select: none;
}
.app {
   width: 100%;
   height: 100vh;
   overflow: hidden;

   .playing {
      position: relative;
      width: calc(100% - 80px);
      height: calc(100% - 80px);
      margin: 40px 0 0 40px;

      .score {
         position: absolute;
         top: -40px;
         left: -20px;
         font-size: 30px;
         z-index: 1;
         font-weight: bold;
         text-shadow: 0 0 10px #fff;

         &::after {
            content: 'Score';
            font-size: 15px;
            margin-left: 5px;
            font-weight: 300;
         }
      }
      .grid {
         &, .horizontal, .vertical {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
         .horizontal, .vertical {
            display: flex; 
            justify-content: space-around;

            .row {background-color: #666}
         }
         .horizontal {
            flex-direction: column;

            .row {
               width: 100%;
               height: 1px;
               box-shadow: 0 0 10px green;
            }
         }
         .vertical .row {
            width: 1px;
            height: 100%;
            box-shadow: 0 0 10px red;
         }
      }
      .shape {
         position: absolute;
         width: 64px;
         height: 64px;
         background-repeat: no-repeat;
         background-size: contain;
      }
      .player {background-image: url('../images/injection.svg');}
      .coronavirus {
         background-image: url('../images/virus.svg');
         transition: all .3s linear;
      }
   }
}